/* 
  Title: about.css
  Author: Ngi Bujri
  Date: 3 February 2023
*/

/* colors */
:root {
  --light-green: #14e956;
  --off-white: #f5f5f5;
  --dark-blue: #1a2b3a;
  --dark-green: #090f14;
}

h1,
h2 {
  text-align: center;
  color: var(--light-green);
  padding: 20px 0;
}

section {
  width: 80%;
  margin: 0 auto;
}

.bio-section {
  display: flex;
  flex-direction: column;
  padding: 20px 10%;
}

.hobbies {
  display: flex;
}

.hobbies p {
  font-size: 18px;
}

.hobby-one {
  padding: 20px;
  background-color: var(--off-white);
  color: var(--dark-green);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.hobby-two {
  padding: 20px;
  background-color: var(--dark-green);
  color: var(--light-green);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.img {
  max-height: 200px;
  max-width: 200px;
}

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  border: 1px solid var(--light-green);
  border-radius: 8px;
  padding: 16px;
  color: var(--light-green);
  text-align: center;
  margin-bottom: 20px;
}

li {
  list-style: none;
  padding: 16px 0;
}
