/*
  Title: shared.css
  Author: Ngi Bujri
  Date: 3 February 2023
  Description: styles shared across pages
*/

/* colors */
:root {
  --light-green: #14e956;
  --off-white: #f5f5f5;
  --dark-blue: #1a2b3a;
  --dark-green: #090f14;
}

/* remove default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--dark-blue);
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--dark-green);
  width: 100%;
  display: flex;
  /* stack logo atop of links */
  flex-direction: column;
  align-items: center;
  padding: 12px 0;
}

.logo {
  font-size: 24px;
  color: var(--light-green);
}

.nav-links {
  display: flex;
  gap: 24px;
  margin-top: 18px;
}

.nav-link {
  color: var(--light-green);
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
  color: var(--off-white);
}

page-footer {
  /* place footer at bottom */
  margin-top: auto;
}

.footer {
  background-color: var(--dark-green);
  color: var(--light-green);
  height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6px 0;
  border-top: 1px solid var(--light-green);
}

.quick-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: space-evenly;
  text-align: center;
  height: 100%;
}

.footer-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  color: var(--light-green);
}
